<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<body ng-app="myApp" ng-controller="rhumbix">

<h2>Rhumbix test</h2>

<form ng-submit="search(query)">
    <input type="text" ng-model="query" size="25" placeholder="Search Keyword">
    <div class="dropDownList"  ng-repeat="item in itemsArray|filter:query">
        <a href="#">{{item}}</a>
    </div>
    <input type="submit" value="Go">
    <div><img ng-src="{{gifUrl}}"></div>
</form>

<br>

<script>
    var app = angular.module('myApp', []);
    app.controller('rhumbix', function($scope) {
        $scope.itemsArray=["about","above","across"];
        function geturl(theUrl,cb){
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", theUrl, false );
                xmlHttp.send( null );
                cb(xmlHttp.responseText);
        }
        $scope.search=function(keyword){
            var url="https://api.giphy.com/v1/gifs/search?q="+keyword+"&api_key=dc6zaTOxFJmzC&limit=1";
            var response=geturl(url,function(res){
                $scope.gifUrl="https://media.giphy.com/media/"+JSON.parse(res).data[0].id+"/giphy.gif";
            });
        }
    });

</script>

</body>
</html>

